- @posts.each do |post|
	= link_to (image_tag post.image.url(:small))				
	-# This loops all the posts
	%h2= link_to post.title, post 	
	-# Each post link, embedded in the title of the post
	%p
		= post.comments.count
		Comments  &  
		= post.get_upvotes.size
		Likes
		
= link_to "Add New Inspiration", new_post_path
-# Links to new post, embedded in Add New Inspiration